body {
	color: white;
	background: url("img/ebook-background.jpg") left bottom repeat;
	text-shadow: 1px 1px black;
	font-family: 'Cuprum', sans-serif;
}


a {
	color: white;
}

h1 {
	color: #7f0000;
	text-align: center;
	font-size: 2em;
}

h3 {
	color: #7f0000;
}

.shadow {
  -moz-box-shadow:    2px 2px 5px 0px #000;
  -webkit-box-shadow: 2px 2px 5px 0px #000;
  box-shadow:         2px 2px 5px 0px #000;
}

#contents {
	width: 23%;
	float: left;
	margin-right: 4%;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	background-color: #000066;
	background: url("img/ebook-contents.jpg") left bottom repeat;
}

#content {
	width: 65%;
	float: right;
	margin-right: 4%;
}


